# Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.npm/

# .NET
backend/bin/
backend/obj/
backend/*.user
backend/appsettings.Development.json
backend/publish/
backend/out/

# IDE
.vs/
.vscode/
.idea/
*.suo
*.swp
*.cache

# OS
.DS_Store
Thumbs.db